 html{
            font-family: Fauna One;
            line-height: 1.2 em;
        }
            #title {
                font: 48px Londrina Outline; 
                color: dimgrey;
                float: left;
                width: 100%;
                text-align: center;
            }
            #heading {
                font: 15px Fauna One;
                color: dimgrey;
                width: 60%;
                padding: 5px 0px 20px 20px;
                float: left;
                clear: left;
                margin-left: 20%;   
                line-height: 1.5;

            }

            #container {
                width: 60%;
                background: lightgrey;
                border: 3px solid dimgrey;
                border-radius: 10px 10px 10px 10px;
                padding: 10px;
                margin-left: 20%;
                font-size: 17px;
                float: left;}
            #search {
                background: ghostwhite;
                width: 96%;
                border: 2px double dimgrey;
                border-radius: 10px;
                padding: 2%;
            }
            #search_title {
                font: 30px;
                padding-bottom: 20px;}
                #export{
                    float: right;
                    padding: 20px;
                }
            #results{
                background: ghostwhite;
                border: 2px double dimgrey;
                border-radius: 10px;
                margin: 15px 0 0 0;
                float:left;
            }  
            .result_image img { 
                width: 180px;
                border: 3px transparent solid;
                border-radius: 20px;
                margin: 4px 0px;
                float: left;
                clear: left;
            }
            .title {
                float: left; 
                min-width: 200px;
                font-size: 29px;
                font-weight: strong;
            }
            .checkbox_container {
                float: right;
                width: 190px;
            }
                .description {
                    float: left;
                    line-height: 1.8;
                    font-size: 12px;
                

            }
            .result{
                float: left;
                min-height: 20px;
                padding-bottom: 10px;
                padding-top: 10px;
                border-bottom: 2px solid dimgrey;
                padding: 2%;
            }
            .checkbox{
                float: left;
            }